.portfolioSection {
  height: 256px;
  padding: 20px 55px 26px 16px;
  background-color: #0f0f0f;
  @media screen and (min-width: 450px) {
    height: 445px;
    padding: 40px 57px 48px 16px;
  }
  @media screen and (min-width: 1440px) {
    height: 862px;
    padding: 77px 174px 93px 30px;
  }
}

.portfolioTitle {
  font-family: Playfair Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  margin-left: 4px;
  @media screen and (min-width: 450px) {
    font-size: 40px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 64px;
  }
}

.portfolioList {
  width: 289px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 450px) and (max-width: 744px) {
    margin-top: 55px;
  }
  @media screen and (min-width: 744px) {
    width: 672px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 70px;
    width: 1186px;
  }
}
.portfolioItem p {
  font-family: Playfair Display;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0;
  @media screen and (min-width: 744px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 32px;
  }
}
.portfolioIcon {
  width: 10px;
  height: 10px;
  @media screen and (min-width: 450px) {
    width: 20px;
    height: 20px;
  }
  @media screen and (min-width: 1440px) {
    width: 40px;
    height: 40px;
  }
}
.ringIcon {
  @media screen and (min-width: 1440px) {
    width: 50px;
    height: 50px;
  }
}
.headphonesIcon {
  @media screen and (min-width: 1440px) {
    width: 48px;
    height: 48px;
  }
}
.portfolioItem:nth-child(1) {
  margin-top: 37px;
  margin-right: 21px;
  @media screen and (min-width: 744px) {
    margin-top: 100px;
    margin-right: 83px;
    margin-left: 25px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 143px;
    margin-right: 233px;
    margin-left: 50px;
  }
}

.portfolioItem:nth-child(1) svg {
  margin-left: 23px;
  @media screen and (min-width: 450px) {
    margin-left: 39px;
  }
  @media screen and (min-width: 1440px) {
    margin-left: 76px;
  }
}

.portfolioItem:nth-child(2) svg {
  margin-left: 53px;
  @media screen and (min-width: 450px) {
    margin-left: 103px;
  }
  @media screen and (min-width: 1440px) {
    margin-left: 202px;
  }
}

.portfolioItem:nth-child(3) {
  margin-top: 56px;
  margin-left: 18px;
  margin-right: 27px;
  @media screen and (min-width: 744px) {
    margin-top: 74px;
    margin-left: 175px;
    margin-right: 92px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 145px;
    margin-left: 290px;
    margin-right: 251px;
  }
}

.portfolioItem:nth-child(3) svg {
  margin-left: 89px;
  @media screen and (min-width: 744px) {
    margin-left: 130px;
  }
  @media screen and (min-width: 1440px) {
    margin-left: 250px;
  }
}
.portfolioItem:nth-child(4) {
  margin-top: 14px;
  @media screen and (min-width: 700px) {
    margin-top: 14px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 30px;
  }
}
.portfolioItem:nth-child(4) svg {
  margin-left: 92px;
  @media screen and (min-width: 450px) {
    margin-left: 80px;
  }
  @media screen and (min-width: 1440px) {
    margin-left: 48%;
  }
}

.portfolioSingleIcon {
  width: 38px;
  height: 22px;
  margin-left: 189px;
  @media screen and (min-width: 744px) {
    width: 73px;
    height: 43px;
    margin-left: 528px;
  }
  @media screen and (min-width: 1440px) {
    width: 141px;
    height: 83px;
    margin-left: 973px;
  }
}

.portfolioItem svg {
  transition: 250ms;
}
.portfolioItem:hover svg {
  transform: scale(1.3);
}
