.socialLinkItem {
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    // &:hover,
    //     &:focus {
    //         color: rgb(245, 79, 2);
    //     }
   

    .iconSocialLink {
        width: 8px;
        height: 8px;
       
        
        transition: 250ms;

        &:hover,
        &:focus {
            transform: scale(1.3);
        }

        
    }
}
.iconSocialLink{
    fill:red;;
}

