.linkList {
    height: 8px;
    display: flex;
    justify-content: center;
    
    margin-right: -12px;
    margin-top: 16px;
    // padding: 24px 0;
    @media screen and (min-width: 450px) {
        height: 20px;
        margin-top: 20px;
        margin-right: -25px;
            
        }

   
}